/* menginsert font yang di download */
@font-face {
    font-family: "norse";
    src: url(Heorot-4rLK.ttf);
}
body{
    background-color: black;
}
/* navbar */
.navbar{
    font-family: 'norse';
}
.btn-primary:hover{
    background-color: #880ED4;
}
.btn-primary{
    border-radius: 100px;
}

/* intro */
/* untuk memberi layer warna hitam pada video */
.intro::after {
    content:"";
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color:rgba(10,10,10,0.5);
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0px;
  }

.intro{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* mengatur overlay pada video untuk text */
.overlay{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    color: white;
    z-index: 2;
}
.overlay h1{
    font-size: 6rem;
    font-family: 'norse';
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* carousel */
.carousel-caption{
    background-color:rgba(10,10,10,0.5);
    align-items: center;
    z-index: 1;
    border-radius: 100px;
}

/* isi */
.isi{
    padding: 50px;
}
/* mengatur heading isi */
.isi-heading{
    font-family: 'norse';
    text-align: center;
    padding-bottom: 30px;
    color: white;
}
/* mengatur card */
.card{
    background-color: black;
    color: white;
    border-radius: 100px;
}
.card img{
    border-radius: 20px;
}
.card img:hover{
    transform: scale(1.1);
}

/* characters */
/* untuk memberi layer warna hitam pada background image */
.characters::after{
    content:"";
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color:rgba(10,10,10,0.5);
    align-items: center;
    z-index: 0;
    left: 0;
    top: 0px;
}
.characters{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* mengatur overlay pada image untuk text */
.characters-overlay{
    z-index: 2;
    color: white;
    text-align: center;
}
.characterslide{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.charactertitle h1{
    font-family: norse;
    padding: 20px;
    font-size: 4rem;
}


/* mengatur footer */
.left-column{
    float: left;
    width: 50%;
    color: white;
    background-color: #00439C;
    padding-left: 230px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.right-column{
    float: left;
    width: 50%;
    padding-left: 20px;
    background-color: #00439C;
    padding-top: 70px;
    padding-bottom: 178px;
}
.right-column a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size:12px
}